h1 {
	font-size: 42px;
	text-align: center;
}

.crystals {
	text-align: center;
}

.jumbotron {
	text-align: center;
	background-color: #2D74BA;
	height: 300px;
}

.button {
	background-color: #F79421;
	margin: 30px 10px 0px 10px;
}

#paragraph {
	display: block;
	width: 30%;
	background-color: #EDF8FB;
	margin: -70px 0px 50px 35%;
	text-align: center;
	padding: 30px 0px 30px 0px;
}

.crystals img {
    margin: 30px 20px 50px 20px;
}

.crystals img:hover {
    box-shadow: 0px 0px 5px #888888;
    border: 5px solid #fff;
    border-radius: 2px;
    
}